__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
build/
dist/
/llama-cpp-perfkit
logs/**
results/**
!logs/
!logs/raw/
!logs/raw/.gitkeep
!logs/monitoring/
!logs/monitoring/.gitkeep
!results/
!results/.gitkeep

.idea/
runs/
